[submodule "test/munit"]
	path = test/munit
	url = https://github.com/nemequ/munit.git
[submodule "third-party/nanopb"]
	path = third-party/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "third-party/jerasure"]
	path = third-party/jerasure
	url = https://github.com/thestr4ng3r/jerasure.git
[submodule "third-party/gf-complete"]
	path = third-party/gf-complete
	url = https://github.com/thestr4ng3r/gf-complete.git
[submodule "android/app/src/main/cpp/oboe"]
	path = android/app/src/main/cpp/oboe
	url = https://github.com/google/oboe
