*~
*.swp
.idea
build
cmake-build-*
/build_*
/build-*
.DS_store
*.AppImage
appdir
/ffmpeg*
/Chiaki
/SDL2-*
/opus*
/ffmpeg*
/sdl2-*
/protoc*
/openssl*
.vs
CMakeSettings.json
chiaki.rb
*.jks
secret.tar
keystore-env.sh
compile_commands.json
.ccls-cache
