[Desktop Entry]
Type=Application
Name=Chiaki
Comment=PlayStation 4 Remote Play Client
Exec=env QT_QPA_PLATFORM=xcb chiaki
Icon=chiaki
Categories=Game;
